.container {
  border: 2px solid #000000;
  border-radius: 10px;
  width: 200px;
  margin: 0 auto;
}

input {
  margin: 2px;
  border: none;
  border-color: transparent;
}
button {
  height: 50px;
  width: 50px;
}
